<!--<h2>{{hero.name | uppercase}} Details</h2>
<div>
<div> <span>id: </span> {{hero.id}}</div>
<p> <span>Code name: </span> {{hero.name}}</p>
<p> <i><span>Real name: </span> {{hero.real}}</i></p>
</div>

<p>
<b>{{hero1.name | lowercase}} </b>
is a new hero under {{hero.name}}
</p>

<h2>{{hero.name | uppercase}} Details</h2>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
</div>-->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button
      [class.selected]="hero === selectedHero"
      class="hero-button"
      type="button"
      (click)="onSelect(hero)"
    >
      <span class="badge">{{ hero.id }}. </span>
      <span class="name">{{ hero.name }} </span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
  <div>
    <label for="hero-real-name">Hero real name: </label>
    <input
      id="hero-real-name"
      [(ngModel)]="selectedHero.real"
      placeholder="real"
    />
  </div>
</div>
